
    <br><br><br>
    <br>
<div class="main">
  <!-- Sing in  Form -->
  <section class="sign-in">
    <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure><img src="../../../../../assets/images/reset-password.svg" alt="reset new password"></figure>
        </div>
        <div class="signing-form">
          <h2 class="form-title">Réinitialiser <br> le mot de passe</h2>
          <h6>Entrer le nouveau mot de passe</h6><!--for {{email}} -->
          <form method="POST" id="login-form" class="form register-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field class="form-control">
              <mat-label>Nouveau mot de passe</mat-label>
              <input matInput formControlName="password" type="password" required />
              <mat-error *ngIf="password?.hasError('required')">
                Password is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form-control">
              <mat-label>Rentrer le mot de passe</mat-label>
              <input matInput formControlName="confirmPassword" type="password" required />
              <mat-error *ngIf="password?.hasError('required')">
                Password is required
              </mat-error>
            </mat-form-field>

            <div class="form-group form-button">
              <input mat-raised-button type="submit" name="signin" id="signin" class="form-submit"  value="Enregistrer"/>
              <!--         [disabled]="form.invalid"-->
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>


