
.titre{
background-color: rgb(165, 181, 232);
color: rgb(255, 255, 255);
border-radius: 20px;
width: 80%;
height:70px;
display: flex;
align-items: center;
justify-content: center;
margin-left: 10%;
margin-right:5%;
padding-bottom: 12px;
    margin-bottom: 15px;
}
.feedback{
    display: flex;
    align-items: center;
    justify-content: center;
}
