<br><br><br>
<br>
<div class="main">
  <!-- Sing in  Form -->
  <section class="sign-in">
    <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure><img src="../../../../../assets/images/forget-password.svg" alt="forgot password image"></figure>
          <a href="/login" class="signup-image-link">Retour pour se connecter </a>
        </div>
        <div class="signing-form">
          <h2 class="form-title">Réinitialiser le mot de passe</h2>
          <h6>Saisissez votre adresse email pour rechercher votre compte.</h6>
          <form method="POST" id="login-form" class="form register-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field class="form-control" >
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" type="text" required />
              <mat-error *ngIf="email?.hasError('required')">
                Email is required
              </mat-error>
              <mat-error *ngIf="email?.hasError('email')">
                Email isn't valid. Please enter a valid email.
              </mat-error>
            </mat-form-field>


            <div class="form-group form-button">
              <input mat-raised-button type="submit" name="signin" id="signin" class="form-submit"  value="Réinitialiser le mot de passe"/>
              <!--         [disabled]="form.invalid"-->
            </div>
          </form>



        </div>
      </div>
    </div>
  </section>
</div>


