<br><br><br>
<br>
<div class="main">
      <!-- Sing in  Form -->
      <section class="sign-in">
        <div class="container">
          <div class="signin-content">
            <div class="signin-image">
              <figure><img src="../../../../../assets/images/Verified.gif" alt="verification email image"></figure>
              <a href="/login" class="signup-image-link">back to sign in</a>
            </div>
            <div class="signin-form">
              <h2 class="form-title ">Email verification</h2>
    <!--          <h5 class="form-title ">for email : {{email}} </h5>-->
              <form method="POST" id="login-form" class="form register-form" (ngSubmit)="onSubmit()">


                <div class="form-group form-button">
                  <input mat-raised-button type="submit" name="signin" id="signin" class="form-submit"  value="Verify your Email"/>
                </div>
              </form>



            </div>
          </div>
        </div>
      </section>
    </div>


